svg {
  background-color: orange;
  width: 100%;
  height: 100%;
}

rect {
  fill: #004494;
  stroke: white;
  stroke-width: 3px;
  transition: all 300ms;
}

text.x-labels {
  text-anchor: middle;
  font-size: 12px;
}

line.x-axis {
  stroke: black;
  stroke-width: 0.5;
}
